html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet", href="css/main.css")
	
        include mixin.pug
        include var.pug

    body
        +createHeader(title, find_icon, cloud_icon)

    nav.m-nav
        +createMenu(dictMenu, 'Статистика')
    article.l-special
        .base-table
            +createTable(listTableTitle, table)
        .l-settings
            .module-forms
                form(action="visualizations-graphics").v1
                    fieldset 
                        legend="Настройка визуализации данных Графика"
                        .l-visualization
                            label="Тип визуализации"
                            select#type(name="type")
                                each data in visualizationType
                                    option(value=data.value)=data.text
                        .base-axis_x
                            +createFormAxis("Выбор оси Х", "radio", "groupX", axisX)
                        .base-axis_y
                            +createFormAxis("Выбор оси Y", "checkbox", "groupY", axisY)
                        .base-axis_z
                            +createFormAxis("Функция к данным", "radio", "groupY", func)
                form(action="visualizations-tables").v2
                    fieldset 
                        legend="Параметры отображения таблицы"
                        .l-visualization
                            label="Сортировка 1 по"
                            select#type(name="type")
                                each data in listTableTitle
                                    option(value=data)=data
                            br
                            label="Сортировка 2 по"
                            select#type(name="type")
                                each data in listTableTitle
                                    option(value=data)=data
                            
                            .l-names
                                label="Какие поля отображать?"
                                each name in listTableTitle
                                    .l-inline
                                        input(type="checkbox", name="vis", value=name, checked)
                                        p=name
            img

    footer 
        +createFooter()