<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	
	mixin createMenu(menu, active)
		each value, key in menu
			if active == key
				a.active(href= value)= key
			else
				a(href= value)= key
	
	block variables
		- var title = "Learner’s Cloud - Учиться. Развиваться. Достигать"
		- var dictMenu = { "Главная": "index.html", "Статистика" : "#", "О системах": "#", "Контакты": "#"}
		- var listSections = [{   "header": "Видеоролики",   "image": "img_1.jpg",   "text": "Раздел «Видеоматериалы» предлагает широкий спектр обучающих видео, разработанных для улучшения понимания и усвоения материалов студентами. В них подробно объясняются ключевые концепции, демонстрируются процессы и предоставляются примеры практического применения теоретических знаний. Также раздел содержит записи лекций и семинаров, которые проводятся в рамках курса."},  {"header": "Тестирование", "image": "img_2.jpg", "text": "Раздел «Тестирование» предоставляет разнообразные инструменты для проверки знаний и навыков студентов. С их помощью можно оценить уровень понимания студентами пройденного материала, определить слабые места в обучении и получить объективную информацию об успехах каждого студента." }, { "header": "Уведомления","image": "img_3.jpg", "text": "Раздел «Уведомления» служит для информирования студентов о важных событиях, происходящих в рамках учебного процесса. Он содержит уведомления о начале и окончании сроков выполнения заданий, изменениях в расписании, объявлениях от преподавателей и других актуальных новостях."  }, {  "header": "Оценки", "image": "img_1.jpg", "text": "Раздел «Оценки» представляет собой инструмент для отслеживания успеваемости студентов. В нем отображаются результаты выполненных тестов, домашних заданий, курсовых работ и других форм контроля знаний, а также рассчитываются итоговые оценки за каждый модуль и весь курс в целом." }, { "header": "Помощь", "image": "img_2.jpg", "text": "Раздел «Помощь» содержит инструкции и рекомендации по использованию системы, ответы на часто задаваемые вопросы и контакты технической поддержки. Это помогает студентам быстрее освоиться в системе и решать возникающие проблемы."}, {   "header": "База знаний", "image": "img_3.jpg", "text": "Раздел «База знаний» представляет собой обширную коллекцию учебных материалов, статей, видео и других ресурсов, которые могут быть полезны для студентов в процессе обучения. Материалы в базе знаний регулярно обновляются и дополняются, чтобы обеспечить студентов актуальной информацией и помочь им в достижении образовательных целей." }]
		- var find_icon = "img/img_find.png"
		- var cloud_icon = "img/bg_cloud.jpg"

	body

		body
		header
			h2= title
			.find-element
				input(type="text")
				img(src=find_icon)
		.bg-image
			img(src=cloud_icon)
		nav
			+createMenu(dictMenu, 'Главная')
		article
			each item in listSections
				section
					img(src= "img/" + item.image)
					h3= item.header
					p= item.text
						a(href="#") &hellip;
		footer
			h4 &copy; Пример html-страницы

